body {
  background-image: url("https://images.unsplash.com/photo-1525351326368-efbb5cb6814d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right top;
}
h2 {
	color: black;
	text-align: center;
	font-family: arial;
	font-size: 2.7em;
	font-weight: lighter;
}

.container {
	margin-top: 25px;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	justify-items: center;

}


.container > div {
	width: 300px;
	height: 275px;
	background-color: white;
	border: 2px solid #ddd;
	border-radius: 4px;
	font-family: arial;
	font-size: 0.9em;
}
img {
	width: 100%;
	height: 200px;
}
h3{
	margin: 0;
}
.details {
	display: inline-block; 
	margin: 0;
	padding: 2px;
}
h5{
	margin: 4px;
	font-style: italic;
	font-weight: normal;
	font-size: 1em;
}
p {
	margin-top: 4px;
	font-weight: bold;
}
#vieworder{
	margin-left: 12px;
}
.order-btn {
	float: right;
	border: none;
	color: white;
	padding: 11px;
	background-color: #4CAF50;
	text-align: center;
	font-size: 13px;
	margin-right: 4px;
	border-radius: 4px;
	font-weight: normal;
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;

}
.order-btn:hover {
	background-color: white;
	color: #4CAF50;
	border: 1px solid #4CAF50;
}
.orderA-btn {
	opacity: 0.6;
}
#vieworder {
  background-color: #E96694; /* Green */
  border: none;
  color: white;
  padding: 12px 23px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  margin-right: 8%;
  border-radius: 8px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
#vieworder:hover {
	background-color: white; /* Green */

    color: #E96694;

    border: 2px solid #E96694;
}





@media only screen and (max-width: 680px){
	h2{
		font-size: 1.8em;
	}
}