body{
	margin: 0;
	background-color: ;
}
.main-nav{
	margin: 0;
	list-style: none;
	display: flex;
	font-size: 1.3em;
	background-color: #e7e7e7;
	font-family: Helvetica, sans-serif;
	font-weight: lighter;
	color: black;
}
h2 {
	color: black;
	text-align: center;
	font-family: arial;
	font-size: 2.7em;
	font-weight: lighter;
}
li{
	padding: 13px;
}
.push{
	margin-left: auto;
	display: flex;
}

.container {
	margin-top: 25px;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	justify-items: center;

}


.container > div {
	width: 300px;
	height: 275px;
	background-color: white;
	border: 2px solid #ddd;
	border-radius: 4px;
	font-family: arial;
	font-size: 0.9em;
}
img {
	width: inherit;
	height: 200px;
}
h3{
	margin: 0;
}
h5{
	margin: 4px;
	font-style: italic;
	font-weight: lighter;
}
p {
	margin-top: 200px;
	display: inline;
	font-weight: 500;
}
button {
	float: right;
	border: none;
	color: blue;
	padding: 7px;
	background-color: white;
	text-align: center;
	font-size: 13px;
	margin-right: 4px;
	border-radius: 9px;
	font-weight: bold;

}
button:hover {
	background-color: blue;
	color: white;
	border: 1px solid white;
}

h1 {
	color: inherit;
	font-family: arial;
	line-height: 1.1;
	font-weight: 700;
	font-size: 6.5em;
	margin: 0;
	background: url(homepage2.jfif) no-repeat center center fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 45vh;
	background-size: cover;
	width: 100%;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
	             0px 8px 13px rgba(0,0,0,0.1),
	             0px 18px 23px rgba(0,0,0,0.1);
}




@media only screen and (max-width: 680px){
	h1{
		font-size: 68px;
	}
	.main-nav {
		font-size: 9px;
	}
	h2{
		font-size: 1.8em;
	}
}