body{
	margin: 0;
	margin-bottom: 50px
}
.main-nav {
	display: flex;
	list-style: none;
	background-color:  #e7e7e7;
	font-size: 1em;
	margin: 0;
	padding-left: 25px;
	padding-right: 25px;
	font-family: arial;
	font-weight: 500;
}
li {
	padding: 11px;
	align-self: center;
}
footer {
  position: fixed;
  margin-bottom: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #000;
  color: white;
  text-align: center;
  padding: 10px;
  font-family: "Nunito", sans-serif;
  line-height: 1.1;
}
#foot {
  color: #2a1873;
}
li a {
	color: black;
	text-decoration: none;
}
.push{
	margin-left: auto;
	display: flex;
}
#brand {
	font-size: 1.3em;
	font-family: arial;
}
span{
	color: #2a1873;
	font-size: 1.1em;
	font-family: cursive;
	align-self: center;
}




@media only screen and (max-width: 700px){
	.main-nav {
		font-size: 0.7em;
		padding: 0;
	}
}	

@media only screen and (max-width: 500px){
	.main-nav {
		font-size: 0.4em;
		padding: 0;
	}
}	
