body {
    background-image: url("https://images.unsplash.com/photo-1525351326368-efbb5cb6814d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right top;
}
h1 {
    font-family: cursive;
    font-size: 4em;
    font-weight: normal;
}
.confirmation-message{
    text-align: center;
    margin-top: 10%;
}
p{
    font-family: cursive;
    color: blue;
    font-size: 1.1em;
}
#orderno{
    color:blue;
}
h2{
    font-family: arial;
}
