body {
  background-image: url("https://images.unsplash.com/photo-1525351326368-efbb5cb6814d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right top;
}
h2 {
	color: black;
	text-align: center;
	font-family: cursive;
	font-size: 2.7em;
	font-weight: lighter;
}

table {
  border-collapse: collapse;
  width: 90%;
  margin: auto auto auto auto;
  text-align: center;

}
table, th, td {
  border: 1px solid black;
}
td {
	padding: 10px;
  font-size: 20px;
}
th {
  font-weight: bolder;
  font-size: 20px;
}
tr:nth-child(even){
  background-color: #FFF0AA;
}

.view-btn {
  background-color: #E96694; /* Green */
  border: none;
  color: white;
  padding: 12px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  float: right;
  margin-right: 8%;
  border-radius: 8px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.view-btn:hover {
	background-color: white; /* Green */

    color: #E96694;

    border: 2px solid #E96694;
}
.select {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  margin-right: 8%;
  border-radius: 8px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.select:hover {
  background-color: white; /* Green */

    color: #4CAF50;

    border: 2px solid #4CAF50;
}

/*Menu styling*/




@media only screen and (max-width: 680px){
	h2{
		font-size: 1.8em;
	}
}